<h1><%= "#{@mechanic.name}'s Page" %></h1>
<h3><%= "Years of experience: #{@mechanic.years_experience}" %></h3>
<br><br>

<h2><%= "Rides #{@mechanic.name} is working on that are open:" %></h2>
<% @rides.each do |ride| %>
  <p><%= ride.name %></p>
<% end %>